<!--<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome <%=user%></h1>
	<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/d4827d17822719.562bf9dfad321.png" alt="">
	<hr>
	
	<form action="products"> 
	<button type="submit">Show Products</button>
	</form>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="index.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
   <h1> Online Examination Application</h1>
   <img src="banner.jpg" alt="">
   <h2>Welcome to the Test !!!</h2>
   <br>
   <div id="btn1">
    <a href="../index1.html">Start </a>
    <br><br>
    
   
    <p>you can start test now </p>
    </div>
    </div>
</body>
</html>