.red, .yellow, .green {
    height: 20px;
    display: inline-block;
    transition: 1s;
    color: #fff;
}
.red {
    background-color: red;
    width: 40px;
}
.yellow {
    background-color: yellow;
    width: 60px;
    color: #000;
}
.green {
    background-color: green;
    width: 80px;
}
body {
    margin: 0px auto;
    box-sizing: border-box;
}
#container h1 {
    font-size: 24px;
    color: #fff;
    background-color: #7a594a;
    padding: 20px;
    
}
#container {
    margin: 0px 300px;
}
#container img {
    height: 200px;
    border-radius: 3px;
    width: 100%;
}
#container h2 {
    background-color: #ccc;
    padding: 30px;
}
#container #button {
    margin-top: 100px;
    text-align: center;
}
#container #button a {
    border-radius: 50%;
  
    color:#fff;
     background-color: chocolate;
    font-family: monospace;
    font-size: 21px;
    height: 300px;
    width: 100px;
    padding: 50px;
    text-decoration: none;
    }
#container #button a:hover {
     background-color: coral;
}
#container #para{
    margin-top: 100px;
    padding: 10px 20px;
    font-style: italic;
    text-shadow: 1px;
    background-color:darkslategray;
    color:#fff;
}